.rojo{color: red;}
.naranja{color: orange}
.verde{color: green;}
.amarillo{color: yellow}
.piel{color: orangered;}
.verde2{color: rgb(137, 223, 9);}
.rosa{color: rgb(214, 37, 111);}
.rojointenso{color: rgb(109, 29, 29);}