.uno{font-size: 90px;}
.dos{font-size: 130px;}
.tres{font-size: 345px;}
.cuatro{font-size: 45px;}
.cinco{font-size: 99px;}
.seis{font-size: 38px;}
.siete{font-size: 198px;}
.ocho{font-size: 140px;}
.tresbiss{font-size: 111px;}
.seisb{font-size: 180px;}
