h1{
    font-size: 80px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{color:grey; font-family: serif;}


a{color: lightblue; text-decoration: none;}

.diferente{font-family: Verdana, Geneva, Tahoma, sans-serif;}
